<div class="tophead">
  <h2>Teams</h2>
</div>
<div class="bigpad">
<ul>
  <% @teams.each do |team| %>
  <li><%= link_to team.name, team_path(team) %></li>
  <% end %>
</ul>

  <% @pending_teams && @pending_teams.each do |team| %>
    You're invited to join <%= team.name %>. <%= button_to "Accept", join_team_path(team), :class => "leo-btn" %>
  <% end %>
</div>