<div id="userprofile">
	<div id="profiletop">
		<div class="span-5-2 fleft">
		<%= image_tag '/images/prof.jpg' %>
		</div>
		<div class="span-10 fleft">
			<h2><%= @user.name %> <span>Status</span></h1>
			<p>Web Designer</p>
			<p>+6 016 331 4187</p>
			<p>gaddafi@youthasia.com</p>
		</div>
	</div>

	<%= render "posts/form" %>

	<div id="proflebottom">
		<div class="stat">
			<ul>
 				<li><a href="#">Daily</a></li>
 				<li><a href="#">Weekly</a></li>
 				<li><a href="#">Monthly</a></li>
			 </ul>
		</div>
		<div class="taskdone">
			<ul class="daily">
				<li>02 May 2011</li>
					<ul class="taskly">
 						<li>
 						soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
					 						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
 						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>

					</ul>
				<li>01 May 2011</li>
					<ul class="taskly">
 						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
					</ul>
				<li>26 April 2011</li>
					<ul class="taskly">
 						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
						<li>soihf asihosai hoihfiosa </li>
					</ul>
			</ul>

		</div>

	</div>

</div>