<div id="userprofile">
	<div id="profiletop">
		<div class="span-5-2 fleft">
		<%= image_tag '/images/prof.jpg' %>
		</div>
		<div class="span-10 fleft">
			<h2><%= @user.name %> <span>Status</span></h1>
		</div>
	</div>

	<%= render "posts/form" %>

	<div id="proflebottom">
		<div class="stat">

		</div>
		<div class="taskdone">
			<ul>
			<% for post in @posts do %>
				<li><p>post.content</p></li>
			<% end%>
			</ul>
		</div>

	</div>

</div><h1></h1>
<p>Find me in app/views/users/show.html.erb</p>



