<div id="header">
<div class="wrap">
<!-- if user profile, use class .wrapsmall, if dashboard, use .wrap -->

<h1 id="brand">Done.ly</h1>
<ul id="topnav">
	<li> <a href="#">Dashboard</a> </li>
	<li> <a href="#">Setting</a> </li>
	<li> <a href="#">Logout</a> </li>

</u>

</div>
</div>