<div id="homepage">

<h1 class="tagline">The Addiction App <br />For People and Teams to <br />Get More Done.</h1>
<div class="bigpad">
<div class="span-11">
<ul>
	<li>Keep a record and share what you have done. Not your to-dos. Only what you've done.</li>
	<li>See yesterday's accomplishments to motivate you for today.</li>
	<li>Know what your team has gotten done, at any time. <br />Turn everyone into progress addicts!</li>
</ul>
<p>Wanna get a daily rush of getting things done?</p>
</div>
<div class="span-5 fright">
  <%= link_to "Get Donely", new_user_registration_path, :class=>"leo-btn orange" %>
  <br /> or <br />
	  <%= link_to 'Login', new_user_session_path, :class=>"leo-btn blue" %>
</div>
</div></div>
