<div id="proflemiddle">
<%= form_for(@post) do |f| %>
	<div id="inputdone">
		<%= f.label :content%>
		<%= f.text_field :content%>

		<p class="charcount">140</p>
		<%= f.submit "Post", :class => 'leo-btn blue' %>
	</div>
<% end %>
</div>