<div id="proflemiddle">
<%= form_for(@post) do |f| %>
	<div id="inputdone">
		<span id="idid"></span>
		<%= f.label :content, :class=>"hide"%>
		<%= f.text_field :content,:placeholder => "What have you done today?" %>

		<p class="charcount">140</p>
		<%= f.submit "Post", :class => 'leo-btn orange' %>
	</div>
<% end %>
</div>
